<div class="maingallery main-content-wrapper">
	<div class="header">
		<h2>Get Quote</h2>
	</div>

	<div>
		<div class="form-holder with-image">
			<div class="form-box">
			  <form class="form-inline cp-form" action="/action_page.php" #ctForm="ngForm" (submit)="formSubmit(0)" >
			  <div class="form-group">
			    <label for="firstName">First Name:</label>
			    <input type="text" required [(ngModel)]="user_data.firstName" class="form-control" id="firstName" name="firstName" minlength="3" maxlength="20" #firstName="ngModel">
			    <div class="f_message">
				    <div class="error" *ngIf="firstName.errors && firstName.errors.required && (firstName.dirty || firstName.touched)">
				    	<span class="fa fa-times">&nbsp;</span> First Name required
				    </div>
				    <div class="error" *ngIf="firstName.errors && firstName.errors.minlength   && (firstName.dirty || firstName.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Provide valid first name
				    </div>
				</div>
			  </div>

			  <div class="form-group">
			    <label for="lastName">Last Name:</label>
			    <input type="text" required [(ngModel)]="user_data.lastName" class="form-control" id="lastName" name="lastName" minlength="2" maxlength="20" #lastName="ngModel">
			    <div class="f_message">
				    <div class="error" *ngIf="lastName.errors && lastName.errors.required && (lastName.dirty || lastName.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Last Name required
				    </div>
				    <div class="error" *ngIf="lastName.errors && lastName.errors.minlength && (lastName.dirty || lastName.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Provide valid last name
				    </div>
				</div>
			  </div>

			   <div class="form-group">
			    <label for="mobileno">Mobile Number:</label>
			    <input type="text" required class="form-control" [(ngModel)]="user_data.mobileNo"  id="mobileNo" name="mobileNo" maxlength="10" #mobileNo="ngModel">
			    <div class="f_message">
			    	<div class="error" *ngIf="mobileNo.errors && mobileNo.errors.required && (mobileNo.dirty || mobileNo.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Mobile number required
				    </div>
				    <div class="error" *ngIf="mobileNo.errors && mobileNo.errors.maxlength && (mobileNo.dirty || mobileNo.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Provide valid mobile number
				    </div>
			    </div>
			  </div>

			  <div class="form-group">
			    <label for="email">Email:</label>
			    <input type="email" required class="form-control" [(ngModel)]="email" id="email" name="email" minlength="6" maxlength="300" #emailId="ngModel">
			    <div class="f_message">
			    	<div class="error" *ngIf="emailId.errors && emailId.errors.required && (emailId.dirty || emailId.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Email id required
				    </div>
				    <div class="error" *ngIf=" emailId.invalid && (emailId.dirty || emailId.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Provide valid email i
				    	d
				    </div>
			    </div>
			  </div>


			  <div class="form-group">
			  	<label for="stateSelected">Select State</label>
			    <select class="form-control"  name="stateSelected" id="stateSelected" (change)='showCities()' [(ngModel)] = "user_data.stateSelected" #stateSelected1="ngModel">
			    	<option value=-1 selected>--Select State--</option>
					<option *ngFor="let s of stateCityList[0]['state']" value={{s.stateId}} >{{s.stateName}}</option>
				</select>

				<div class="f_message">
				    		<div class="error" *ngIf="stateSelected1.errors && stateSelected1.errors.required && (stateSelected1.dirty || stateSelected1.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Select a city
				    		</div>
					</div>
				
			  </div>

			  <div class="form-group"  (change)="renderDealers()">
			  		<label for="citySelected">Select City</label>
			   		<select class="form-control" name="citySelected" id="citySelected" [(ngModel)]="user_data.citySelected" #citySelected="ngModel">
							<option value=-1>--Select City--</option>
							<option *ngFor="let c of cityList" value={{c.cityId}}>{{c.cityName}}</option>
					</select>

					<div class="f_message">
				    		<div class="error" *ngIf="citySelected.errors && citySelected.errors.required && (citySelected.dirty || citySelected.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Select a city
				    		</div>
					</div>
				</div>

			  <div class="form-group">
			    <label for="delaerSelected">Select Dealer</label>
			    
			    <select class="form-control" name="delaerSelected" id="delaerSelected" required [(ngModel)]= "user_data.delaerSelected" #delaerSelected="ngModel">
			    	<option value=-1 selected="">Select</option>
			    	<option *ngFor="let d of dealerList" value="d.id">
			    		{{d.name}}
			    	</option>
			    </select>

			    <div class="f_message">
				    <div class="error" *ngIf="delaerSelected.errors && delaerSelected.errors.required && (delaerSelected.dirty || delaerSelected.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Select a dealer
				    </div>
				</div>
			  </div>

			  <div class="form-group">
			    <label for="variantSelected">Choose Variant:</label>
			    
			    <select class="form-control" name="variantSelected" id="variantSelected" required [(ngModel)]= "user_data.variantSelected" #variantSelected="ngModel">
			    	<option value=-1 selected="">Select</option>
			    	<option *ngFor="let v of vehicleList" value="v.variantId">
			    		{{v.variantName}}
			    	</option>
			    </select>

			    <div class="f_message">
				    <div class="error" *ngIf="variantSelected.errors && variantSelected.errors.required && (variantSelected.dirty || variantSelected.touched)">
				    	<span class="fa fa-times">&nbsp;</span> Select your desired car variant
				    </div>
				</div>
			  </div>
			  <!--div class="checkbox">
			    <label><input type="checkbox"> Remember me</label>
			  </div-->
			  
			  <div class="button-group">
				  <button type="submit" class="btn btn-default" [disabled]="!ctForm.form.valid || !ctForm.form.touched">PROCEED
				  </button>
				  <button type="reset" class="btn btn-default">RESET</button>
			  </div>

			</form>
			</div>

			<div class="image-box">
				<img src="{{imageHostURL}}{{ vehicleList[0]['imagePath'] }}" >
			</div>
		</div>
	</div>

</div>