
<div id=main class="item_wrap">
  <div class="main mkv" style="height: 0px;">
    <div class="title">
      <strong> Grand Capgemni Motors Car </strong>
      <br>
      It's Woooowsome!!!
      <br>
    </div>
  <ul>
  <li>Bold new looks</li>
  <li>New levels of connectivity</li>
  <li>Unbeatable space and practicality</li>
  </ul>
  <br>
      <div class="testDrive">
        <a href="#"><img src="\src\assets\carModel\test.png"></img></a>
      </div>
      <div class="chekOut">
        <a href="#"><img src="\src\assets\carModel\price.png"></img></a>
      </div>
      <div class="bookDrive">
        <a href="#"><img src="\src\assets\carModel\book.png"></img></a>
      </div>
  </div>
   <div class="carImage" >
  <img src="\src\assets\carModel\carimage.png"></img>
  </div>
</div>
  <div class="galleryButtons">
    <a href="#"><img src="\src\assets\carModel\cover.jpg" class="imgButton"></img></a>
    <a href="#"><img src="\src\assets\carModel\gallerybutton.jpg" class="imgButton"></img></a>
    <a href="#"><img src="\src\assets\carModel\expButton.jpg" class="imgButton"></img></a>
  </div>
  