
<button (click)="openModal()"  class="Signbutton"  style="width:auto;">{{ buttonName }}</button>
<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
      
      <img src="/src/assets/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container" style="padding-bottom: 0px;">
        <label for="" style="color: red"><b> {{ errorValue }}   </b></label> <br> 
      <label for=""><b>Username</b></label>
      <input type="text"   placeholder="Enter Username"  [(ngModel)] = "usern"  name="uname"  required>
<br>
      <label for=""><b>Password</b></label>
      <input type="password"   placeholder="Enter Password" [(ngModel)] = "passwrd" name="psw"  required>
    <br>    
      <button type="button"  (click)="login(usern,passwrd)" >Login</button>
      <br>
      </div>
    <div class="container" style="background-color:#f1f1f1" style="width: 80% ; padding-bottom: 0px">
      <button type="button" onclick="document.getElementById('id01').style.display='none'"   class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div> 