<div>

  <div id="cover" class="{{ displaycover }}" >
<div class="maingallery main-content-wrapper">
<!--div id=main class="item_wrap"-->
  <div class="main mkv col-md-3" style="">
    <div class="title">
      <strong> Grand Capgemni Motors Car </strong>
      <br>
      It's Woooowsome!!!
      <br>
    </div>
  <ul>
  <li>Bold new looks</li>
  <li>New levels of connectivity</li>
  <li>Unbeatable space and practicality</li>
  </ul>
  <br>
      <div class="testDrive">
        <a href="#"><img src="src/assets/test.png"> </a>
      </div>
      <div class="chekOut">
        <a href="#"><img src="src/assets/price.png"> </a>
      </div>
      <div class="bookDrive">
        <a href="#"><img src="src/assets/book.png"> </a>
      </div>
  </div>
   <div class="col-md-7 carImage" >
  <img src="{{ img }}"/>
  </div>
 
  <div class="colorbuttons col-md-2">
      <ul  *ngFor= "let colorB of imgarray" >
        <button id="colorb" class="{{ colorB.color }}" value="{{ colorB.id }}" (click)="color(colorB.id)" ></button>
      </ul>
      </div>
  <div class="galleryButtons">
  <a href="javascript:;"><img src="src/assets/cover.jpg"   (click)="cover($event)"  class="imgButton"></a>
  <a href="javascript:;"><img src="src/assets/gallerybutton.jpg"   class="imgButton"></a>
  <a href="javascript:;"><img src="src/assets/expButton.jpg" (click)="exp30($event)" class="imgButton"></a>
</div>
</div>
</div>


<div id="cover" class="{{ display360 }}" >
  <div>
        <div class="col-md-2 360view hide" style="">
          <img src="src/assets/exp360.png">
          <h6>Actual Product may differ</h6>
        </div>
        
        <div id="view360" class="col-md-12"  style="" >
        </div>
        
        <div class="galleryButtons">
            <a href="javascript:;"><img src="src/assets/cover.jpg" (click)="cover($event)" class="imgButton"></a>
            <a href="javascript:;"><img src="src/assets/gallerybutton.jpg"  class="imgButton"></a>
            <a href="javascript:;"><img src="src/assets/expButton.jpg" (click)="exp30($event)" class="imgButton"></a>
          </div>
     </div>
 </div>

</div>
          


 